<md-content class="Page-container" ng-controller="ManageGroupsController as vm">
    <div class="Login-formContainer" layout="column" layout-align="center center">

        <h1 class="md-headline">Manage groups</h1>

        <div>
            <md-autocomplete required md-require-match class="AppForm-inputContainer" md-selected-item="vm.selectedUser"  md-search-text="vm.searchValue" md-items="user in vm.searchUser(vm.searchValue)"
                md-item-text="user.username" md-selected-item-change="vm.getUserGroups(user)" md-min-length="1" md-floating-label="Find the user">
                <md-item-template>
                    <span md-highlight-text="vm.searchValue" md-highlight-flags="^i">{{ user.username }}</span>
                </md-item-template>
                <md-not-found>
                    User not found
                </md-not-found>
            </md-autocomplete>
        </div>
        <div ng-if="vm.selectedUser">
            <md-input-container class="AppForm-inputContainer">
                <label>User groups</label>
                <md-chips ng-model="vm.selectedGroups" md-autocomplete-snap md-require-match="true">
                    <md-autocomplete
                                    md-search-text="vm.query"
                                    md-items="group in vm.avaliableGroups"
                                    md-item-text="group.name"
                                    md-min-length="0"
                                    md-no-cache="true"
                                    placeholder="Select groups">
                        <span md-highlight-text="vm.query">{{ group.name }}</span>
                    </md-autocomplete>
                    <md-chip-template>
                        <span>{{$chip.name}}</span>
                    </md-chip-template>
                </md-chips>
            </md-input-container>
        </div>
        <div ng-if="vm.selectedUser" layout="column" layout-align="center center">
                <md-button ng-click="vm.updateUserGroups()" class="LoginForm-submit md-warn md-raised">Update groups</md-button>
        </div>
    </div>
</md-content>